ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #011638;
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  z-index: 2;
  height: 100%;
  transition: 0.3s;
}

li i {
  font-size: 40px;
  padding: 10% 10% 5% 10%;
}

li.nav {
  float: top;
}

li.nav a.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 0em;
  text-decoration: none;
  font-size: larger;
  transition: 0.3s;
}

li.nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav .active {
  background-color: #4a7b9d;
}

.nav-close {
  color: #fff;
  z-index: 1;
  opacity: 0.5;
}

.main {
  top: 0;
  left: 0;
  padding: 0;
  background-image: url(DMAIconBG.png);
  background-size: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 90%;
}

/* .main::before {
  content: "";
  background-image: url(DMAIcon.png);
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  top: 10%;
  right: 0;
  bottom: 0px;
  left: 30%;
  opacity: 0.1;
  background-attachment: fixed;
} */

h1 {
  margin: 0;
  max-width: 80%;
}

.H1Container {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 90%;
  background-color: white;
  padding: 1em 1em;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
}

th {
  background-color: #721121;
  color: white;
  padding: 1em 0.4em;
  top: 8.9%;
  position: sticky;
  font-size: small;
}

td {
  padding: 0.5em 0.4em;
  border: 0.1em solid #721121;
  border-bottom: none;
  border-top: none;
}

td:first-child,
td:last-child {
  border: none;
}

th,
td {
  text-align: left;
}

tr {
  background-color: rgba(191, 6, 3, 0.3);
}

tr:nth-child(even) {
  background-color: rgba(191, 6, 3, 0.2);
}

tr:hover {
  background-color: rgba(191, 6, 3, 0.5);
}

td:first-child {
  width: 100%;
  max-width: 50%;
}

#data {
  margin-top: 40%;
  top: 20%;
  position: sticky;
  display: grid;
  grid-template-columns: 100%;
}

.grid1 {
  grid-column: 1 / 2;
}

.grid2 {
  grid-column: 1 / 2;
}

.grid3 {
  grid-column: 1 / 2;
}

.abilities {
  text-align: center;
}

.abilityScore {
  width: calc(50% - 6px);
  right: 1px;
  height: 2em;
  padding: 15% 0%;
  border: 3px ridge #bf0603;
  border-radius: 10%;
  background-color: rgba(191, 6, 3, 0.05);
  margin-left: calc(25% - 3px);
}

#HpAc {
  margin: 5% 0% 0%;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;  
}

.monsterStats {
  text-transform: capitalize;
  margin: 0% 1%;
}

#Abilities {
  margin: 5% 0%;
  display: grid;
  grid-template-rows: 40% 40%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  row-gap: 10%;
}

#data > div:not(#skills) > p {
  margin: 0 auto;
  margin-top: 5%;
}

@media screen and (min-width: 600px) {
  ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0 2em;
    overflow: hidden;
    background-color: #011638;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  li.nav {
    float: left;
  }

  li.nav a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    font-size: larger;
    transition: 0.3s;
  }

  li.nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .nav .active {
    background-color: #4a7b9d;
  }

  .nav-close {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .main {
    padding: 2em;
    margin-top: 30px;
    font-size: 1.05em;
  }

  h1 {
    position: static;
    padding: 0.7em 0em;
  }

  .H1Container {
    position: static;
    top: 0;
    background-color: white;
    padding: 0;
    margin: 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 0%;
  }

  th {
    background-color: #721121;
    color: white;
    padding: 1em;
    font-size: 1.1em;
    top: 3em;
  }

  td {
    padding: 0.5em 1em;
    border: none;
  }

  th,
  td {
    text-align: left;
  }

  tr {
    background-color: rgba(191, 6, 3, 0.3);
  }

  tr:nth-child(even) {
    background-color: rgba(191, 6, 3, 0.2);
  }

  tr:hover {
    background-color: rgba(191, 6, 3, 0.5);
  }

  #data {
    top: 0;
    margin-top: 0;
    grid-template-columns: 33% 33% 33%;
  }

  .grid1 {
    grid-column: 1 / 1;
  }

  .grid2 {
    grid-column: 2 / 2;
  }

  .grid3 {
    grid-column: 3 / 3;
  }

  .abilities {
    list-style-type: none;
    text-align: center;
  }

  #Abilities {
    margin: 2% 0%;
    display: grid;
    grid-template-columns: 16.7% 16.7% 16.7% 16.7% 16.7% 16.7%;
    grid-column: 1 / 4;
  }

  #HpAc {
    margin: 0%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;  
  }

  .abilityScore {
    width: 4.5em;
    height: 2em;
    padding: 15% 1%;
    margin-left: calc((4.5em + 1%));
  }

  #skills {
    /* margin-top: 2%; */
    margin: 2% 0.5%;
    grid-column: 1 / 4
  }

  #skills > p {
    margin: auto;
  }
  
}
