ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #011638;
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  z-index: 1;
  height: 100%;
  transition: 0.3s;
}

li.nav {
  float: top;
}

li.nav a.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 0em;
  text-decoration: none;
  font-size: larger;
  transition: 0.3s;
}

li.nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav .active {
  background-color: #4a7b9d;
}

.nav-close {
    color: #fff;
    z-index: 1;
    opacity: 0.5;
}

.hamburger {
    float: right;
    border: 2px solid black;
    border-radius: 5px;
    position: fixed;
    top: 0.5em;
    right: 0.2em;
}

.main {
  top: 0;
  left: 0;
  padding: 0;
}

h1 {
    position: sticky;
    top: 0em;
    background-color: white;
    padding: 0.7em 1em;
    margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #721121;
  color: white;
  padding: 1em 0.4em;
  top: 5em;
  position: sticky;
}

td {
  padding: 0.5em 0.4em;
  border: 0.1em solid #721121;
  border-bottom: none;
  border-top: none;
}

td:first-child, td:last-child {
    border: none;
}

th,
td {
  text-align: left;
}

tr {
  background-color: rgba(191, 6, 3, 0.3);
}

tr:nth-child(even) {
  background-color: rgba(191, 6, 3, 0.2);
}

tr:hover {
  background-color: rgba(191, 6, 3, 0.5);
}

@media screen and (min-width: 600px) {
    ul.nav {
      list-style-type: none;
      margin: 0;
      padding: 0 2em;
      overflow: hidden;
      background-color: #011638;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  
    li.nav {
      float: left;
    }
  
    li.nav a.nav {
      display: block;
      color: white;
      text-align: center;
      padding: 1em 1em;
      text-decoration: none;
      font-size: larger;
      transition: 0.3s;
    }
  
    li.nav a:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  
    .nav .active {
      background-color: #4a7b9d;
    }
  
    .nav-close {
      display: none;
    }

    .hamburger {
        display: none;
    }
  
    .main {
      padding: 2em;
      margin-top: 30px;
      font-size: 1.05em;
    }

    h1 {
        position: static;
        padding: 0.7em 0em
    }
  
    table {
      border-collapse: collapse;
      width: 100%;
    }
  
    th {
      background-color: #721121;
      color: white;
      padding: 1em;
      font-size: 1.1em;
      position: static;
    }
  
    td {
      padding: 0.5em 1em;
      border: none;
    }
  
    th,
    td {
      text-align: left;
    }
  
    tr {
      background-color: rgba(191, 6, 3, 0.3);
    }
  
    tr:nth-child(even) {
      background-color: rgba(191, 6, 3, 0.2);
    }
  
    tr:hover {
      background-color: rgba(191, 6, 3, 0.5);
    }
  }